In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xlrd
pd.set_option('max_columns', 50)
%matplotlib inline

In [3]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789719578, "Happy Eating!"])
s

0                7
1       Heisenberg
2             3.14
3      -1789719578
4    Happy Eating!
dtype: object

In [4]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789719578, "Happy Eating!"], index=["A", "Z", "C", "Y", "E"])
s

A                7
Z       Heisenberg
C             3.14
Y      -1789719578
E    Happy Eating!
dtype: object

In [6]:
d = {"Chicago": 1000, "New York": 1300, "Portland": 900, "San Francisco": 1100, "Austin": 450, "Boston": None}
cities = pd.Series(d)
cities

Austin            450.0
Boston              NaN
Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [7]:
cities["Chicago"]

1000.0

In [8]:
cities[["Chicago", "Portland", "San Francisco"]]

Chicago          1000.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [9]:
cities[cities < 1000]

Austin      450.0
Portland    900.0
dtype: float64

In [10]:
print("Old Value:", cities["Chicago"])
cities["Chicago"] = 1400
print("New Value:", cities["Chicago"])

Old Value: 1000.0
New Value: 1400.0

In [11]:
print(cities[cities < 1000])
print("\n")
cities[cities < 1000] = 750
print(cities[cities < 1000])

Austin      450.0
Portland    900.0
dtype: float64


Austin      750.0
Portland    750.0
dtype: float64

In [12]:
print("Seattle" in cities)
print("San Francisco" in cities)

False
True

In [13]:
cities/3

Austin           250.000000
Boston                  NaN
Chicago          466.666667
New York         433.333333
Portland         250.000000
San Francisco    366.666667
dtype: float64

In [14]:
np.square(cities)

Austin            562500.0
Boston                 NaN
Chicago          1960000.0
New York         1690000.0
Portland          562500.0
San Francisco    1210000.0
dtype: float64

In [15]:
d = {"Chicago": 1000, "New York": 1300, "Portland": 900, "San Francisco": 1100, "Austin": 450, "Boston": None}
cities = pd.Series(d)
print(cities[["Chicago", "New York", "Portland"]])
print("\n")
print(cities[["Austin", "New York"]])
print("\n")
print(cities[["Chicago", "New York", "Portland"]] + cities[["Austin", "New York"]])

Chicago     1000.0
New York    1300.0
Portland     900.0
dtype: float64


Austin       450.0
New York    1300.0
dtype: float64


Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

In [16]:
print(cities.isnull())
print("\n")
print(cities[cities.isnull()])

Austin           False
Boston            True
Chicago          False
New York         False
Portland         False
San Francisco    False
dtype: bool


Boston   NaN
dtype: float64

In [21]:
data = {"year": [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        "team": ["Bears", "Bears", "Bears", "Packers", "Packers", "Lions", "Lions", "Lions"],
        "wins": [11, 8, 10, 15, 11, 6, 10, 4],
        "losses": [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data, columns=["year", "team", "wins", "losses"])
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [22]:
!head -n 5 mariano-rivera.csv

Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,WHIP,H/9,HR/9,BB/9,SO/9,SO/BB,Awards
1995,25,NYY,AL,5,3,.625,5.51,19,10,2,0,0,0,67.0,71,43,41,11,30,0,51,2,1,0,301,84,1.507,9.5,1.5,4.0,6.9,1.70,
1996,26,NYY,AL,8,3,.727,2.09,61,0,14,0,0,5,107.2,73,25,25,1,34,3,130,2,0,1,425,240,0.994,6.1,0.1,2.8,10.9,3.82,CYA-3MVP-12
1997,27,NYY,AL,6,4,.600,1.88,66,0,56,0,0,43,71.2,65,17,15,5,20,6,68,0,0,2,301,239,1.186,8.2,0.6,2.5,8.5,3.40,ASMVP-25
1998,28,NYY,AL,3,0,1.000,1.91,54,0,49,0,0,36,61.1,48,13,13,3,17,1,36,1,0,0,246,233,1.060,7.0,0.4,2.5,5.3,2.12,

In [24]:
from_csv = pd.read_csv("mariano-rivera.csv")
from_csv.head()

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,WHIP,H/9,HR/9,BB/9,SO/9,SO/BB,Awards
0,1995,25,NYY,AL,5,3,0.625,5.51,19,10,2,0,0,0,67.0,71,43,41,11,30,0,51,2,1,0,301,84,1.507,9.5,1.5,4.0,6.9,1.70,NaN
1,1996,26,NYY,AL,8,3,0.727,2.09,61,0,14,0,0,5,107.2,73,25,25,1,34,3,130,2,0,1,425,240,0.994,6.1,0.1,2.8,10.9,3.82,CYA-3MVP-12
2,1997,27,NYY,AL,6,4,0.600,1.88,66,0,56,0,0,43,71.2,65,17,15,5,20,6,68,0,0,2,301,239,1.186,8.2,0.6,2.5,8.5,3.40,ASMVP-25
3,1998,28,NYY,AL,3,0,1.000,1.91,54,0,49,0,0,36,61.1,48,13,13,3,17,1,36,1,0,0,246,233,1.060,7.0,0.4,2.5,5.3,2.12,NaN
4,1999,29,NYY,AL,4,3,0.571,1.83,66,0,63,0,0,45,69.0,43,15,14,2,18,3,52,3,1,2,268,257,0.884,5.6,0.3,2.3,6.8,2.89,ASCYA-3MVP-14

In [25]:
cols = ["num", "game", "date", "team", "home_away", "opponent", "result", "quarter", "distance", "receiver", "score_before", "score_after"]
no_headers = pd.read_csv("peyton-passing-TDs-2012.csv", sep=",", header=None, names=cols)
no_headers.head()

,num,game,date,team,home_away,opponent,result,quarter,distance,receiver,score_before,score_after
0,1,1,2012-09-09,DEN,NaN,PIT,W 31-19,3,71,Demaryius Thomas,Trail 7-13,Lead 14-13*
1,2,1,2012-09-09,DEN,NaN,PIT,W 31-19,4,1,Jacob Tamme,Trail 14-19,Lead 22-19*
2,3,2,2012-09-17,DEN,@,ATL,L 21-27,2,17,Demaryius Thomas,Trail 0-20,Trail 7-20
3,4,3,2012-09-23,DEN,NaN,HOU,L 25-31,4,38,Brandon Stokley,Trail 11-31,Trail 18-31
4,5,3,2012-09-23,DEN,NaN,HOU,L 25-31,4,6,Joel Dreessen,Trail 18-31,Trail 25-31

In [28]:
football.to_excel('football.xlsx', index=False)

In [29]:
!ls -l *.xlsx

-rw-rw-r-- 1 zach zach 5057 May  5 15:31 football.xlsx

In [30]:
!pwd

/home/zach/ipython_projects/Learning Pandas

In [31]:
del football

In [32]:
football = pd.read_excel("football.xlsx", 'Sheet1')
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12